* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: rgb(97, 128, 129);
}

body {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    height: 1px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block1 {
    background-color: rgb(100, 100, 100);
    padding: 13%;
}

.block2 {
    background-color: rgb(121, 117, 117);
    padding: 10%;

}

.nameInput {
    font-size: 20px;

}

.title {
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}

.strike {
    text-decoration: line-through;
    list-style: none;
}

.strike:before {
    content: '✔';
}

.btn1 {
    padding: 10px;
    background-color: greenyellow;

}

.btn2 {
    padding: 10px;
    background-color: chartreuse;

}

.nodots {
    list-style: none;
}

.item {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}